
.header{
	h1,h2,h3,h4, #nav a{
		font-family: 'Kreon', serif;
	}
	h1{
		font-size: 28px;
		line-height: 35px;
	}
	h2{
		font-size: 24px;
		line-height: 30px;
	}
	h3{
		font-size: 21px;
		line-height: 25px;
	}	
}

.header-container{
	.header, #nav, body, main, .nav-container{
		background:none;
		padding:0;
	}
}
