@import url(styles.css);
@import url(reset.css);
/* Interactiv4 responsive compass project for Magento
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
 */
/*
 * Interactiv4's Magento compass/sass variables.
 */
/* line 2, ../sass/typography.scss */
body {
  background: white;
  font: 14px "Ubuntu", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 20px;
  color: #333333;
}

/* line 9, ../sass/typography.scss */
a {
  text-decoration: none;
  font-size: 14px;
}
/* line 12, ../sass/typography.scss */
a:hover {
  color: #fba123;
}

/* line 16, ../sass/typography.scss */
h1, h2, h3, h4, a {
  font-family: "Kreon", serif;
  font-weight: normal;
  color: #1d9cd7;
}

/* line 21, ../sass/typography.scss */
.page-title h1, .page-title h2, .page-title h3, .page-title h4 {
  font-family: "Kreon", serif;
  font-weight: normal;
  color: #1d9cd7;
}
/* line 24, ../sass/typography.scss */
.page-title h1 {
  font-size: 28px;
  line-height: 35px;
}
/* line 29, ../sass/typography.scss */
.page-title h2 {
  font-size: 24px;
  line-height: 30px;
}
/* line 33, ../sass/typography.scss */
.page-title h3 {
  font-size: 21px;
  line-height: 25px;
  margin: 10px 0px;
  padding: 10px 30px;
}

/* line 41, ../sass/typography.scss */
button.button span {
  font-family: "Kreon", serif;
  font-weight: normal;
  color: #1d9cd7;
  border-color: #fba123;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: #f77f47, 2px, 2px;
  -moz-box-shadow: #f77f47, 2px, 2px;
  box-shadow: #f77f47, 2px, 2px;
  height: auto;
  line-height: 20px;
  padding: 8px;
}

/* line 52, ../sass/typography.scss */
ul.links {
  padding-left: 0;
}

/*
 * Interactiv4's Magento layout components and grid.
 * Resizes components from screen sizes between $minWidth to Infinity.
 */
/* line 7, ../sass/layout.scss */
.wrapper {
  width: 100%;
  margin: 0 auto;
  background: none;
  min-width: 320px;
}

/* line 14, ../sass/layout.scss */
.main-container {
  background: none;
}
/* line 16, ../sass/layout.scss */
.main-container .main {
  width: 100%;
}
/* line 9, ../sass/mixins.scss */
.main-container .main:after, .main-container .main:before {
  display: table;
  content: "";
  height: 0;
}
/* line 14, ../sass/mixins.scss */
.main-container .main:after {
  clear: both;
}

/* line 22, ../sass/layout.scss */
.header-container .header, .footer-container .footer, .col2-set, .col3-set, .col4-set {
  width: 100%;
}
/* line 9, ../sass/mixins.scss */
.header-container .header:after, .header-container .header:before, .footer-container .footer:after, .footer-container .footer:before, .col2-set:after, .col2-set:before, .col3-set:after, .col3-set:before, .col4-set:after, .col4-set:before {
  display: table;
  content: "";
  height: 0;
}
/* line 14, ../sass/mixins.scss */
.header-container .header:after, .footer-container .footer:after, .col2-set:after, .col3-set:after, .col4-set:after {
  clear: both;
}

/* line 27, ../sass/layout.scss */
.col-left, .col-right {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 23.72881%;
  /* Uncomment to support for IE6/7
  	*width: ($colWidth * $number) + ($offsetWidth * ($number - 1)) - (.5 / $rowWidth * 100 * 1%) - $corrector;
  */
  margin: 0 0 0 1.69492%;
  /* Uncomment to support IE6/7
  	*margin: 0 0 0 ($offsetWidth - (.5 / $rowWidth * 100 * 1%));
  */
  padding: 0;
  display: block;
  background: none;
  float: left;
  min-height: 30px;
}
/* line 44, ../sass/mixins.scss */
.col-left:first-child, .col-right:first-child {
  margin: 0;
}
/* line 9, ../sass/mixins.scss */
.col-left:after, .col-left:before, .col-right:after, .col-right:before {
  display: table;
  content: "";
  height: 0;
}
/* line 14, ../sass/mixins.scss */
.col-left:after, .col-right:after {
  clear: both;
}

/* line 31, ../sass/layout.scss */
.col-main {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 74.57627%;
  /* Uncomment to support for IE6/7
  	*width: ($colWidth * $number) + ($offsetWidth * ($number - 1)) - (.5 / $rowWidth * 100 * 1%) - $corrector;
  */
  margin: 0 0 0 1.69492%;
  /* Uncomment to support IE6/7
  	*margin: 0 0 0 ($offsetWidth - (.5 / $rowWidth * 100 * 1%));
  */
  padding: 0;
  display: block;
  background: none;
  float: left;
  min-height: 30px;
}
/* line 44, ../sass/mixins.scss */
.col-main:first-child {
  margin: 0;
}
/* line 9, ../sass/mixins.scss */
.col-main:after, .col-main:before {
  display: table;
  content: "";
  height: 0;
}
/* line 14, ../sass/mixins.scss */
.col-main:after {
  clear: both;
}

/* line 36, ../sass/layout.scss */
.col3-layout .col-main {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 74.57627%;
  /* Uncomment to support for IE6/7
  	*width: ($colWidth * $number) + ($offsetWidth * ($number - 1)) - (.5 / $rowWidth * 100 * 1%) - $corrector;
  */
  margin: 0 0 0 1.69492%;
  /* Uncomment to support IE6/7
  	*margin: 0 0 0 ($offsetWidth - (.5 / $rowWidth * 100 * 1%));
  */
  padding: 0;
  display: block;
  background: none;
  float: left;
  min-height: 30px;
}
/* line 44, ../sass/mixins.scss */
.col3-layout .col-main:first-child {
  margin: 0;
}
/* line 9, ../sass/mixins.scss */
.col3-layout .col-main:after, .col3-layout .col-main:before {
  display: table;
  content: "";
  height: 0;
}
/* line 14, ../sass/mixins.scss */
.col3-layout .col-main:after {
  clear: both;
}
/* line 39, ../sass/layout.scss */
.col3-layout .col-wrapper {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 74.57627%;
  /* Uncomment to support for IE6/7
  	*width: ($colWidth * $number) + ($offsetWidth * ($number - 1)) - (.5 / $rowWidth * 100 * 1%) - $corrector;
  */
  margin: 0 0 0 1.69492%;
  /* Uncomment to support IE6/7
  	*margin: 0 0 0 ($offsetWidth - (.5 / $rowWidth * 100 * 1%));
  */
  padding: 0;
  display: block;
  background: none;
  float: left;
  min-height: 30px;
  margin: 0;
}
/* line 44, ../sass/mixins.scss */
.col3-layout .col-wrapper:first-child {
  margin: 0;
}
/* line 9, ../sass/mixins.scss */
.col3-layout .col-wrapper:after, .col3-layout .col-wrapper:before {
  display: table;
  content: "";
  height: 0;
}
/* line 14, ../sass/mixins.scss */
.col3-layout .col-wrapper:after {
  clear: both;
}
/* line 9, ../sass/mixins.scss */
.col3-layout .col-wrapper:after, .col3-layout .col-wrapper:before {
  display: table;
  content: "";
  height: 0;
}
/* line 14, ../sass/mixins.scss */
.col3-layout .col-wrapper:after {
  clear: both;
}
/* line 43, ../sass/layout.scss */
.col3-layout .col-wrapper .col-left {
  margin: 0;
}
/* line 46, ../sass/layout.scss */
.col3-layout .col-wrapper .col-main {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 74.57627%;
  /* Uncomment to support for IE6/7
  	*width: ($colWidth * $number) + ($offsetWidth * ($number - 1)) - (.5 / $rowWidth * 100 * 1%) - $corrector;
  */
  margin: 0 0 0 1.69492%;
  /* Uncomment to support IE6/7
  	*margin: 0 0 0 ($offsetWidth - (.5 / $rowWidth * 100 * 1%));
  */
  padding: 0;
  display: block;
  background: none;
  float: right;
  min-height: 30px;
}
/* line 44, ../sass/mixins.scss */
.col3-layout .col-wrapper .col-main:first-child {
  margin: 0;
}
/* line 9, ../sass/mixins.scss */
.col3-layout .col-wrapper .col-main:after, .col3-layout .col-wrapper .col-main:before {
  display: table;
  content: "";
  height: 0;
}
/* line 14, ../sass/mixins.scss */
.col3-layout .col-wrapper .col-main:after {
  clear: both;
}

/* line 53, ../sass/layout.scss */
.col2-set .col-narrow {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 23.72881%;
  /* Uncomment to support for IE6/7
  	*width: ($colWidth * $number) + ($offsetWidth * ($number - 1)) - (.5 / $rowWidth * 100 * 1%) - $corrector;
  */
  margin: 0 0 0 1.69492%;
  /* Uncomment to support IE6/7
  	*margin: 0 0 0 ($offsetWidth - (.5 / $rowWidth * 100 * 1%));
  */
  padding: 0;
  display: block;
  background: none;
  float: left;
  min-height: 30px;
}
/* line 44, ../sass/mixins.scss */
.col2-set .col-narrow:first-child {
  margin: 0;
}
/* line 9, ../sass/mixins.scss */
.col2-set .col-narrow:after, .col2-set .col-narrow:before {
  display: table;
  content: "";
  height: 0;
}
/* line 14, ../sass/mixins.scss */
.col2-set .col-narrow:after {
  clear: both;
}
/* line 56, ../sass/layout.scss */
.col2-set .col-wide {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 74.57627%;
  /* Uncomment to support for IE6/7
  	*width: ($colWidth * $number) + ($offsetWidth * ($number - 1)) - (.5 / $rowWidth * 100 * 1%) - $corrector;
  */
  margin: 0 0 0 1.69492%;
  /* Uncomment to support IE6/7
  	*margin: 0 0 0 ($offsetWidth - (.5 / $rowWidth * 100 * 1%));
  */
  padding: 0;
  display: block;
  background: none;
  float: left;
  min-height: 30px;
}
/* line 44, ../sass/mixins.scss */
.col2-set .col-wide:first-child {
  margin: 0;
}
/* line 9, ../sass/mixins.scss */
.col2-set .col-wide:after, .col2-set .col-wide:before {
  display: table;
  content: "";
  height: 0;
}
/* line 14, ../sass/mixins.scss */
.col2-set .col-wide:after {
  clear: both;
}

/* line 64, ../sass/layout.scss */
.col-1-set .col-1 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: -0.9887%;
  /* Uncomment to support for IE6/7
  	*width: ($colWidth * $number) + ($offsetWidth * ($number - 1)) - (.5 / $rowWidth * 100 * 1%) - $corrector;
  */
  margin: 0 0 0 1.69492%;
  /* Uncomment to support IE6/7
  	*margin: 0 0 0 ($offsetWidth - (.5 / $rowWidth * 100 * 1%));
  */
  padding: 0;
  display: block;
  background: none;
  float: left;
  min-height: 30px;
}
/* line 44, ../sass/mixins.scss */
.col-1-set .col-1:first-child {
  margin: 0;
}
/* line 9, ../sass/mixins.scss */
.col-1-set .col-1:after, .col-1-set .col-1:before {
  display: table;
  content: "";
  height: 0;
}
/* line 14, ../sass/mixins.scss */
.col-1-set .col-1:after {
  clear: both;
}

/* line 64, ../sass/layout.scss */
.col-2-set .col-1 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: -0.28249%;
  /* Uncomment to support for IE6/7
  	*width: ($colWidth * $number) + ($offsetWidth * ($number - 1)) - (.5 / $rowWidth * 100 * 1%) - $corrector;
  */
  margin: 0 0 0 1.69492%;
  /* Uncomment to support IE6/7
  	*margin: 0 0 0 ($offsetWidth - (.5 / $rowWidth * 100 * 1%));
  */
  padding: 0;
  display: block;
  background: none;
  float: left;
  min-height: 30px;
}
/* line 44, ../sass/mixins.scss */
.col-2-set .col-1:first-child {
  margin: 0;
}
/* line 9, ../sass/mixins.scss */
.col-2-set .col-1:after, .col-2-set .col-1:before {
  display: table;
  content: "";
  height: 0;
}
/* line 14, ../sass/mixins.scss */
.col-2-set .col-1:after {
  clear: both;
}
/* line 64, ../sass/layout.scss */
.col-2-set .col-2 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: -0.28249%;
  /* Uncomment to support for IE6/7
  	*width: ($colWidth * $number) + ($offsetWidth * ($number - 1)) - (.5 / $rowWidth * 100 * 1%) - $corrector;
  */
  margin: 0 0 0 1.69492%;
  /* Uncomment to support IE6/7
  	*margin: 0 0 0 ($offsetWidth - (.5 / $rowWidth * 100 * 1%));
  */
  padding: 0;
  display: block;
  background: none;
  float: left;
  min-height: 30px;
}
/* line 44, ../sass/mixins.scss */
.col-2-set .col-2:first-child {
  margin: 0;
}
/* line 9, ../sass/mixins.scss */
.col-2-set .col-2:after, .col-2-set .col-2:before {
  display: table;
  content: "";
  height: 0;
}
/* line 14, ../sass/mixins.scss */
.col-2-set .col-2:after {
  clear: both;
}

/* line 64, ../sass/layout.scss */
.col-3-set .col-1 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 0.42373%;
  /* Uncomment to support for IE6/7
  	*width: ($colWidth * $number) + ($offsetWidth * ($number - 1)) - (.5 / $rowWidth * 100 * 1%) - $corrector;
  */
  margin: 0 0 0 1.69492%;
  /* Uncomment to support IE6/7
  	*margin: 0 0 0 ($offsetWidth - (.5 / $rowWidth * 100 * 1%));
  */
  padding: 0;
  display: block;
  background: none;
  float: left;
  min-height: 30px;
}
/* line 44, ../sass/mixins.scss */
.col-3-set .col-1:first-child {
  margin: 0;
}
/* line 9, ../sass/mixins.scss */
.col-3-set .col-1:after, .col-3-set .col-1:before {
  display: table;
  content: "";
  height: 0;
}
/* line 14, ../sass/mixins.scss */
.col-3-set .col-1:after {
  clear: both;
}
/* line 64, ../sass/layout.scss */
.col-3-set .col-2 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 0.42373%;
  /* Uncomment to support for IE6/7
  	*width: ($colWidth * $number) + ($offsetWidth * ($number - 1)) - (.5 / $rowWidth * 100 * 1%) - $corrector;
  */
  margin: 0 0 0 1.69492%;
  /* Uncomment to support IE6/7
  	*margin: 0 0 0 ($offsetWidth - (.5 / $rowWidth * 100 * 1%));
  */
  padding: 0;
  display: block;
  background: none;
  float: left;
  min-height: 30px;
}
/* line 44, ../sass/mixins.scss */
.col-3-set .col-2:first-child {
  margin: 0;
}
/* line 9, ../sass/mixins.scss */
.col-3-set .col-2:after, .col-3-set .col-2:before {
  display: table;
  content: "";
  height: 0;
}
/* line 14, ../sass/mixins.scss */
.col-3-set .col-2:after {
  clear: both;
}
/* line 64, ../sass/layout.scss */
.col-3-set .col-3 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 0.42373%;
  /* Uncomment to support for IE6/7
  	*width: ($colWidth * $number) + ($offsetWidth * ($number - 1)) - (.5 / $rowWidth * 100 * 1%) - $corrector;
  */
  margin: 0 0 0 1.69492%;
  /* Uncomment to support IE6/7
  	*margin: 0 0 0 ($offsetWidth - (.5 / $rowWidth * 100 * 1%));
  */
  padding: 0;
  display: block;
  background: none;
  float: left;
  min-height: 30px;
}
/* line 44, ../sass/mixins.scss */
.col-3-set .col-3:first-child {
  margin: 0;
}
/* line 9, ../sass/mixins.scss */
.col-3-set .col-3:after, .col-3-set .col-3:before {
  display: table;
  content: "";
  height: 0;
}
/* line 14, ../sass/mixins.scss */
.col-3-set .col-3:after {
  clear: both;
}

/* line 64, ../sass/layout.scss */
.col-4-set .col-1 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 1.12994%;
  /* Uncomment to support for IE6/7
  	*width: ($colWidth * $number) + ($offsetWidth * ($number - 1)) - (.5 / $rowWidth * 100 * 1%) - $corrector;
  */
  margin: 0 0 0 1.69492%;
  /* Uncomment to support IE6/7
  	*margin: 0 0 0 ($offsetWidth - (.5 / $rowWidth * 100 * 1%));
  */
  padding: 0;
  display: block;
  background: none;
  float: left;
  min-height: 30px;
}
/* line 44, ../sass/mixins.scss */
.col-4-set .col-1:first-child {
  margin: 0;
}
/* line 9, ../sass/mixins.scss */
.col-4-set .col-1:after, .col-4-set .col-1:before {
  display: table;
  content: "";
  height: 0;
}
/* line 14, ../sass/mixins.scss */
.col-4-set .col-1:after {
  clear: both;
}
/* line 64, ../sass/layout.scss */
.col-4-set .col-2 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 1.12994%;
  /* Uncomment to support for IE6/7
  	*width: ($colWidth * $number) + ($offsetWidth * ($number - 1)) - (.5 / $rowWidth * 100 * 1%) - $corrector;
  */
  margin: 0 0 0 1.69492%;
  /* Uncomment to support IE6/7
  	*margin: 0 0 0 ($offsetWidth - (.5 / $rowWidth * 100 * 1%));
  */
  padding: 0;
  display: block;
  background: none;
  float: left;
  min-height: 30px;
}
/* line 44, ../sass/mixins.scss */
.col-4-set .col-2:first-child {
  margin: 0;
}
/* line 9, ../sass/mixins.scss */
.col-4-set .col-2:after, .col-4-set .col-2:before {
  display: table;
  content: "";
  height: 0;
}
/* line 14, ../sass/mixins.scss */
.col-4-set .col-2:after {
  clear: both;
}
/* line 64, ../sass/layout.scss */
.col-4-set .col-3 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 1.12994%;
  /* Uncomment to support for IE6/7
  	*width: ($colWidth * $number) + ($offsetWidth * ($number - 1)) - (.5 / $rowWidth * 100 * 1%) - $corrector;
  */
  margin: 0 0 0 1.69492%;
  /* Uncomment to support IE6/7
  	*margin: 0 0 0 ($offsetWidth - (.5 / $rowWidth * 100 * 1%));
  */
  padding: 0;
  display: block;
  background: none;
  float: left;
  min-height: 30px;
}
/* line 44, ../sass/mixins.scss */
.col-4-set .col-3:first-child {
  margin: 0;
}
/* line 9, ../sass/mixins.scss */
.col-4-set .col-3:after, .col-4-set .col-3:before {
  display: table;
  content: "";
  height: 0;
}
/* line 14, ../sass/mixins.scss */
.col-4-set .col-3:after {
  clear: both;
}
/* line 64, ../sass/layout.scss */
.col-4-set .col-4 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 1.12994%;
  /* Uncomment to support for IE6/7
  	*width: ($colWidth * $number) + ($offsetWidth * ($number - 1)) - (.5 / $rowWidth * 100 * 1%) - $corrector;
  */
  margin: 0 0 0 1.69492%;
  /* Uncomment to support IE6/7
  	*margin: 0 0 0 ($offsetWidth - (.5 / $rowWidth * 100 * 1%));
  */
  padding: 0;
  display: block;
  background: none;
  float: left;
  min-height: 30px;
}
/* line 44, ../sass/mixins.scss */
.col-4-set .col-4:first-child {
  margin: 0;
}
/* line 9, ../sass/mixins.scss */
.col-4-set .col-4:after, .col-4-set .col-4:before {
  display: table;
  content: "";
  height: 0;
}
/* line 14, ../sass/mixins.scss */
.col-4-set .col-4:after {
  clear: both;
}

/* line 72, ../sass/layout.scss */
.col-1 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 6.77966%;
  /* Uncomment to support for IE6/7
  	*width: ($colWidth * $number) + ($offsetWidth * ($number - 1)) - (.5 / $rowWidth * 100 * 1%) - $corrector;
  */
  margin: 0 0 0 1.69492%;
  /* Uncomment to support IE6/7
  	*margin: 0 0 0 ($offsetWidth - (.5 / $rowWidth * 100 * 1%));
  */
  padding: 0;
  display: block;
  background: none;
  float: left;
  min-height: 30px;
}
/* line 44, ../sass/mixins.scss */
.col-1:first-child {
  margin: 0;
}
/* line 9, ../sass/mixins.scss */
.col-1:after, .col-1:before {
  display: table;
  content: "";
  height: 0;
}
/* line 14, ../sass/mixins.scss */
.col-1:after {
  clear: both;
}

/* line 72, ../sass/layout.scss */
.col-2 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 15.25424%;
  /* Uncomment to support for IE6/7
  	*width: ($colWidth * $number) + ($offsetWidth * ($number - 1)) - (.5 / $rowWidth * 100 * 1%) - $corrector;
  */
  margin: 0 0 0 1.69492%;
  /* Uncomment to support IE6/7
  	*margin: 0 0 0 ($offsetWidth - (.5 / $rowWidth * 100 * 1%));
  */
  padding: 0;
  display: block;
  background: none;
  float: left;
  min-height: 30px;
}
/* line 44, ../sass/mixins.scss */
.col-2:first-child {
  margin: 0;
}
/* line 9, ../sass/mixins.scss */
.col-2:after, .col-2:before {
  display: table;
  content: "";
  height: 0;
}
/* line 14, ../sass/mixins.scss */
.col-2:after {
  clear: both;
}

/* line 72, ../sass/layout.scss */
.col-3 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 23.72881%;
  /* Uncomment to support for IE6/7
  	*width: ($colWidth * $number) + ($offsetWidth * ($number - 1)) - (.5 / $rowWidth * 100 * 1%) - $corrector;
  */
  margin: 0 0 0 1.69492%;
  /* Uncomment to support IE6/7
  	*margin: 0 0 0 ($offsetWidth - (.5 / $rowWidth * 100 * 1%));
  */
  padding: 0;
  display: block;
  background: none;
  float: left;
  min-height: 30px;
}
/* line 44, ../sass/mixins.scss */
.col-3:first-child {
  margin: 0;
}
/* line 9, ../sass/mixins.scss */
.col-3:after, .col-3:before {
  display: table;
  content: "";
  height: 0;
}
/* line 14, ../sass/mixins.scss */
.col-3:after {
  clear: both;
}

/* line 72, ../sass/layout.scss */
.col-4 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 32.20339%;
  /* Uncomment to support for IE6/7
  	*width: ($colWidth * $number) + ($offsetWidth * ($number - 1)) - (.5 / $rowWidth * 100 * 1%) - $corrector;
  */
  margin: 0 0 0 1.69492%;
  /* Uncomment to support IE6/7
  	*margin: 0 0 0 ($offsetWidth - (.5 / $rowWidth * 100 * 1%));
  */
  padding: 0;
  display: block;
  background: none;
  float: left;
  min-height: 30px;
}
/* line 44, ../sass/mixins.scss */
.col-4:first-child {
  margin: 0;
}
/* line 9, ../sass/mixins.scss */
.col-4:after, .col-4:before {
  display: table;
  content: "";
  height: 0;
}
/* line 14, ../sass/mixins.scss */
.col-4:after {
  clear: both;
}

/* line 72, ../sass/layout.scss */
.col-5 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 40.67797%;
  /* Uncomment to support for IE6/7
  	*width: ($colWidth * $number) + ($offsetWidth * ($number - 1)) - (.5 / $rowWidth * 100 * 1%) - $corrector;
  */
  margin: 0 0 0 1.69492%;
  /* Uncomment to support IE6/7
  	*margin: 0 0 0 ($offsetWidth - (.5 / $rowWidth * 100 * 1%));
  */
  padding: 0;
  display: block;
  background: none;
  float: left;
  min-height: 30px;
}
/* line 44, ../sass/mixins.scss */
.col-5:first-child {
  margin: 0;
}
/* line 9, ../sass/mixins.scss */
.col-5:after, .col-5:before {
  display: table;
  content: "";
  height: 0;
}
/* line 14, ../sass/mixins.scss */
.col-5:after {
  clear: both;
}

/* line 72, ../sass/layout.scss */
.col-6 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 49.15254%;
  /* Uncomment to support for IE6/7
  	*width: ($colWidth * $number) + ($offsetWidth * ($number - 1)) - (.5 / $rowWidth * 100 * 1%) - $corrector;
  */
  margin: 0 0 0 1.69492%;
  /* Uncomment to support IE6/7
  	*margin: 0 0 0 ($offsetWidth - (.5 / $rowWidth * 100 * 1%));
  */
  padding: 0;
  display: block;
  background: none;
  float: left;
  min-height: 30px;
}
/* line 44, ../sass/mixins.scss */
.col-6:first-child {
  margin: 0;
}
/* line 9, ../sass/mixins.scss */
.col-6:after, .col-6:before {
  display: table;
  content: "";
  height: 0;
}
/* line 14, ../sass/mixins.scss */
.col-6:after {
  clear: both;
}

/* line 72, ../sass/layout.scss */
.col-7 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 57.62712%;
  /* Uncomment to support for IE6/7
  	*width: ($colWidth * $number) + ($offsetWidth * ($number - 1)) - (.5 / $rowWidth * 100 * 1%) - $corrector;
  */
  margin: 0 0 0 1.69492%;
  /* Uncomment to support IE6/7
  	*margin: 0 0 0 ($offsetWidth - (.5 / $rowWidth * 100 * 1%));
  */
  padding: 0;
  display: block;
  background: none;
  float: left;
  min-height: 30px;
}
/* line 44, ../sass/mixins.scss */
.col-7:first-child {
  margin: 0;
}
/* line 9, ../sass/mixins.scss */
.col-7:after, .col-7:before {
  display: table;
  content: "";
  height: 0;
}
/* line 14, ../sass/mixins.scss */
.col-7:after {
  clear: both;
}

/* line 72, ../sass/layout.scss */
.col-8 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 66.10169%;
  /* Uncomment to support for IE6/7
  	*width: ($colWidth * $number) + ($offsetWidth * ($number - 1)) - (.5 / $rowWidth * 100 * 1%) - $corrector;
  */
  margin: 0 0 0 1.69492%;
  /* Uncomment to support IE6/7
  	*margin: 0 0 0 ($offsetWidth - (.5 / $rowWidth * 100 * 1%));
  */
  padding: 0;
  display: block;
  background: none;
  float: left;
  min-height: 30px;
}
/* line 44, ../sass/mixins.scss */
.col-8:first-child {
  margin: 0;
}
/* line 9, ../sass/mixins.scss */
.col-8:after, .col-8:before {
  display: table;
  content: "";
  height: 0;
}
/* line 14, ../sass/mixins.scss */
.col-8:after {
  clear: both;
}

/* line 72, ../sass/layout.scss */
.col-9 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 74.57627%;
  /* Uncomment to support for IE6/7
  	*width: ($colWidth * $number) + ($offsetWidth * ($number - 1)) - (.5 / $rowWidth * 100 * 1%) - $corrector;
  */
  margin: 0 0 0 1.69492%;
  /* Uncomment to support IE6/7
  	*margin: 0 0 0 ($offsetWidth - (.5 / $rowWidth * 100 * 1%));
  */
  padding: 0;
  display: block;
  background: none;
  float: left;
  min-height: 30px;
}
/* line 44, ../sass/mixins.scss */
.col-9:first-child {
  margin: 0;
}
/* line 9, ../sass/mixins.scss */
.col-9:after, .col-9:before {
  display: table;
  content: "";
  height: 0;
}
/* line 14, ../sass/mixins.scss */
.col-9:after {
  clear: both;
}

/* line 72, ../sass/layout.scss */
.col-10 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 83.05085%;
  /* Uncomment to support for IE6/7
  	*width: ($colWidth * $number) + ($offsetWidth * ($number - 1)) - (.5 / $rowWidth * 100 * 1%) - $corrector;
  */
  margin: 0 0 0 1.69492%;
  /* Uncomment to support IE6/7
  	*margin: 0 0 0 ($offsetWidth - (.5 / $rowWidth * 100 * 1%));
  */
  padding: 0;
  display: block;
  background: none;
  float: left;
  min-height: 30px;
}
/* line 44, ../sass/mixins.scss */
.col-10:first-child {
  margin: 0;
}
/* line 9, ../sass/mixins.scss */
.col-10:after, .col-10:before {
  display: table;
  content: "";
  height: 0;
}
/* line 14, ../sass/mixins.scss */
.col-10:after {
  clear: both;
}

/* line 72, ../sass/layout.scss */
.col-11 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 91.52542%;
  /* Uncomment to support for IE6/7
  	*width: ($colWidth * $number) + ($offsetWidth * ($number - 1)) - (.5 / $rowWidth * 100 * 1%) - $corrector;
  */
  margin: 0 0 0 1.69492%;
  /* Uncomment to support IE6/7
  	*margin: 0 0 0 ($offsetWidth - (.5 / $rowWidth * 100 * 1%));
  */
  padding: 0;
  display: block;
  background: none;
  float: left;
  min-height: 30px;
}
/* line 44, ../sass/mixins.scss */
.col-11:first-child {
  margin: 0;
}
/* line 9, ../sass/mixins.scss */
.col-11:after, .col-11:before {
  display: table;
  content: "";
  height: 0;
}
/* line 14, ../sass/mixins.scss */
.col-11:after {
  clear: both;
}

/* line 72, ../sass/layout.scss */
.col-12 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  /* Uncomment to support for IE6/7
  	*width: ($colWidth * $number) + ($offsetWidth * ($number - 1)) - (.5 / $rowWidth * 100 * 1%) - $corrector;
  */
  margin: 0 0 0 1.69492%;
  /* Uncomment to support IE6/7
  	*margin: 0 0 0 ($offsetWidth - (.5 / $rowWidth * 100 * 1%));
  */
  padding: 0;
  display: block;
  background: none;
  float: left;
  min-height: 30px;
}
/* line 44, ../sass/mixins.scss */
.col-12:first-child {
  margin: 0;
}
/* line 9, ../sass/mixins.scss */
.col-12:after, .col-12:before {
  display: table;
  content: "";
  height: 0;
}
/* line 14, ../sass/mixins.scss */
.col-12:after {
  clear: both;
}

/* line 2, ../sass/menus.scss */
.navbar .expander {
  visibility: hidden;
  position: absolute;
}

/* line 6, ../sass/menus.scss */
.navbar.collapse .expander {
  visibility: visible;
  position: static;
}

/* line 11, ../sass/menus.scss */
.navbar.collapse .nav li {
  float: none;
  margin-left: 0;
}

/* line 16, ../sass/menus.scss */
.navbar .nav:after {
  display: table;
  content: "";
  clear: both;
}

/* line 22, ../sass/menus.scss */
.navbar .nav {
  padding: 10px;
  list-style: none;
}

/* line 26, ../sass/menus.scss */
.navbar .nav li:first-child {
  margin-left: 0;
}

/* line 29, ../sass/menus.scss */
.navbar .nav li {
  margin-left: 10px;
  float: left;
}

/* line 34, ../sass/menus.scss */
.nav-container, .nav {
  background: none;
  margin: 0;
  padding: 0;
  border-bottom: 0;
}

/* line 41, ../sass/menus.scss */
.nav {
  font-family: "Kreon", serif;
  font-weight: normal;
  color: #1d9cd7;
}
/* line 43, ../sass/menus.scss */
.nav a {
  font-family: "Kreon", serif;
  font-weight: normal;
  color: #1d9cd7;
  font-size: 15px;
  text-align: left;
}
/* line 48, ../sass/menus.scss */
.nav a:active {
  color: #e27526;
}

/* line 4, ../sass/header.scss */
.header > .col2-set {
  border-bottom: 1px solid #f6f6f6;
  margin-bottom: 20px;
}
/* line 8, ../sass/header.scss */
.header .links {
  color: #cac6c5;
  margin: 0;
}
/* line 12, ../sass/header.scss */
.header .links li {
  padding: 10px;
  background: none;
  border-right: 1px solid #f6f6f6;
}
/* line 16, ../sass/header.scss */
.header .links li a {
  font-size: 13px;
  font-family: "Ubuntu", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #cac6c5;
  text-decoration: none;
  padding-right: 10px;
}
/* line 22, ../sass/header.scss */
.header .links li a img {
  margin-right: 10px;
}
/* line 26, ../sass/header.scss */
.header .links li.first a {
  border-right: 1px solid #bec7c9;
  color: #e27526;
}
/* line 30, ../sass/header.scss */
.header .links li.last a {
  font-family: "Kreon", serif;
  color: #e27526;
}
/* line 34, ../sass/header.scss */
.header .links li.first, .header .links li.last {
  border: none;
}
/* line 39, ../sass/header.scss */
.header .logo {
  padding: 0;
  margin: 0;
}
/* line 43, ../sass/header.scss */
.header .form-search {
  position: static;
  width: 100%;
}
/* line 46, ../sass/header.scss */
.header .form-search input.input-text {
  background: url("/skin/frontend/5mimitos/default/images/icons/lupa.png") 100% 5px no-repeat;
  min-height: 30px;
  border: 1px solid #f6f6f6;
}
/* line 52, ../sass/header.scss */
.header .form-search button.button {
  float: right;
}

/* line 2, ../sass/page.scss */
.main-container, .main {
  background: none;
  padding: 0;
}

/* line 6, ../sass/page.scss */
.carousel {
  padding: 50px 0 30px 0;
  color: #bec7c9;
  font-size: 16px;
}
/* line 10, ../sass/page.scss */
.carousel h1 {
  font-size: 40px;
  line-height: 40px;
}
/* line 14, ../sass/page.scss */
.carousel p {
  padding: 20px 0;
}
/* line 18, ../sass/page.scss */
.carousel button.button img {
  margin-right: 10px;
}
/* line 21, ../sass/page.scss */
.carousel button.button span {
  font-size: 21px;
  line-height: 25px;
  color: white;
}

/* line 28, ../sass/page.scss */
.homeCatalogs {
  text-align: center;
}
/* line 30, ../sass/page.scss */
.homeCatalogs > div {
  -webkit-box-shadow: #bec7c9 2px 2px;
  -moz-box-shadow: #bec7c9 2px 2px;
  box-shadow: #bec7c9 2px 2px;
}
/* line 33, ../sass/page.scss */
.homeCatalogs img {
  width: 175px;
  height: 115px;
}
/* line 37, ../sass/page.scss */
.homeCatalogs h2 {
  font-size: 25px;
  line-height: 30px;
  font-weight: normal;
  color: white;
  padding: 20px 0;
}
/* line 45, ../sass/page.scss */
.homeCatalogs .col-1 {
  padding-bottom: 2%;
  background: #75d1f6;
}
/* line 49, ../sass/page.scss */
.homeCatalogs .col-2 {
  padding-bottom: 2%;
  background: #e27526;
}
/* line 53, ../sass/page.scss */
.homeCatalogs .col-3 {
  padding-bottom: 2%;
  background: #fba123;
}

/* line 60, ../sass/page.scss */
.homeMarcas .links {
  margin: 50px 0;
}
/* line 63, ../sass/page.scss */
.homeMarcas .links li {
  text-align: center;
  width: 15%;
  display: block;
  float: left;
  margin-left: 2%;
}
/* line 70, ../sass/page.scss */
.homeMarcas .links li:first-child {
  margin-left: 0%;
}

/* line 76, ../sass/page.scss */
.inscribete {
  background: #f2fdff;
  text-align: right;
}
/* line 80, ../sass/page.scss */
.inscribete .col-wide .col-1 {
  background: #fba123;
}
/* line 83, ../sass/page.scss */
.inscribete .col-wide .col-2 {
  background: #4895cb;
}
/* line 86, ../sass/page.scss */
.inscribete .col-wide .col-3 {
  background: #e27526;
}

/* line 2, ../sass/footer.scss */
.footer-container {
  background: #b6d1e2;
}
/* line 4, ../sass/footer.scss */
.footer-container .footer {
  padding: 0;
}
/* line 6, ../sass/footer.scss */
.footer-container .footer a {
  color: #1d9cd7;
}
/* line 9, ../sass/footer.scss */
.footer-container .footer address {
  color: #f6f6f6;
}

/*
 * Interactiv4's Magento media queries.
 * For viewport sizes below $collapseWidth, stacks and expands all components to 100% width.
 * Defines utilities classes for showing or hidding content based on viewport width.
 */
@media screen and (min-width: 1025px) {
  /* line 10, ../sass/responsive.scss */
  .hiddenHandHeld {
    visibility: hidden;
    position: absolute;
    height: 0;
  }

  /* line 15, ../sass/responsive.scss */
  .visibleHandHeld {
    visibility: hidden;
    position: absolute;
    height: 0;
  }

  /* line 20, ../sass/responsive.scss */
  .visiblePhone {
    visibility: hidden;
    position: absolute;
    height: 0;
  }

  /* line 25, ../sass/responsive.scss */
  .hiddenPhone {
    visibility: hidden;
    position: absolute;
    height: 0;
  }
}
@media screen and (max-width: 979px) {
  /* line 34, ../sass/responsive.scss */
  [class*="col"] > [class*="col"] {
    float: none;
    margin: 0;
    width: 100%;
  }

  /* line 40, ../sass/responsive.scss */
  .hiddenHandHeld {
    visibility: hidden;
    position: absolute;
    height: 0;
  }

  /* line 45, ../sass/responsive.scss */
  .visibleHandHeld {
    visibility: visible;
    position: static;
    height: auto;
  }

  /* line 50, ../sass/responsive.scss */
  .visiblePhone {
    visibility: hidden;
    position: absolute;
    height: 0;
  }
}
@media screen and (max-width: 480px) {
  /* line 59, ../sass/responsive.scss */
  .hiddenPhone {
    visibility: hidden;
    position: absolute;
    height: 0;
  }

  /* line 64, ../sass/responsive.scss */
  .visiblePhone {
    visibility: visible;
    position: static;
    height: auto;
  }
}
