
@mixin blueKreonFont{
	font-family:$altFontFamily;
	font-weight: $headingsFontWeight;
	color: $headingsColor;
	}

@mixin clearer{
  &:after, &:before{
    display:table;
    content: "";
    height: 0;
  }
  &:after{
    clear:both;
  }
}

@mixin calcWidth($number, $corrector: 0){
	width: ($colWidth * $number) + ($offsetWidth * ($number - 1)) - $corrector;
/* Uncomment to support for IE6/7
	*width: ($colWidth * $number) + ($offsetWidth * ($number - 1)) - (.5 / $rowWidth * 100 * 1%) - $corrector;
*/

}

@mixin calcOffset($number){
	margin: 0 0 0 $offsetWidth;
/* Uncomment to support IE6/7
	*margin: 0 0 0 ($offsetWidth - (.5 / $rowWidth * 100 * 1%));
*/

}

@mixin col($colSize, $position: left){
  @include box-sizing(border-box);
  @include calcWidth($colSize);
  @include calcOffset($colSize);
  padding: 0;
  display: block;
  background: none;
  float: $position;
  min-height: 30px;
  &:first-child{
    margin: 0;
  }
  @include clearer;
}


