
.main-container, .main{
  background: none;
  padding: 0;
}
.carousel{
    padding: 50px 0 30px 0;
    color: $gray;
    font-size: 16px;
    h1{
      font-size: 40px;
      line-height: 40px;
    }
    p{
      padding: 20px 0;
    }
    button.button{
      img{
        margin-right: 10px;
      }
      span{
        font-size: 21px;
        line-height: 25px;
        color: $white;
      }
    }
}
.homeCatalogs{
  text-align:center;
  > div{
    @include box-shadow($gray 2px 2px);
  }
  img {
    width: 175px;
    height: 115px;
  }
  h2{
    font-size: 25px;
    line-height: 30px;
    font-weight: normal;
    color: $white;
    padding: 20px 0;
  }

  .col-1{
    padding-bottom: 2%;
    background: $blueLighter;
  }
  .col-2{
    padding-bottom: 2%;
    background: $orangeDark;
  }
  .col-3{
    padding-bottom: 2%;
    background: $orangeYellow;
  }
}

.homeMarcas {
  .links{
    margin: 50px 0;

    li{
      text-align:center;
      width: 15%;
      display:block;
      float:left;
      margin-left: 2%;
    }
    li:first-child{
      margin-left: 0%;
    }
  }
}

.inscribete{
  background: $cyan;
  text-align:right;
  .col-wide{
    .col-1{
      background: $orangeYellow;
    }
    .col-2{
      background: $blueDark;
    }
    .col-3{
      background: $orangeDark;
    }
  }
}
