.header-container, .header-container .form-search, .header-container .form-search input.input-text {
  background: none;
  margin: 0;
  padding: 0;
  border-bottom: 0; }
  .header-container .header, .header-container .form-search input.input-text .header {
    background: none;
    padding: 0; }
