
/*
 * Interactiv4's Magento media queries.
 * For viewport sizes below $collapseWidth, stacks and expands all components to 100% width.
 * Defines utilities classes for showing or hidding content based on viewport width.
 */

@media screen and (min-width: 1025px){

	.hiddenHandHeld{
		visibility: hidden;
		position:absolute;
		height:0;
	}
	.visibleHandHeld{
		visibility: hidden;
		position: absolute;
		height: 0;
	}
	.visiblePhone{
		visibility: hidden;
		position: absolute;
		height: 0;
	}
	.hiddenPhone{
		visibility: hidden;
		position:absolute;
		height:0;
	}
}

@media screen and (max-width: $collapseWidth){

	[class*="col"] > [class*="col"]{
		float:none;
		margin:0;
		width: 100%;
	}

	.hiddenHandHeld{
		visibility: hidden;
		position:absolute;
		height:0;
	}
	.visibleHandHeld{
		visibility: visible;
		position: static;
		height: auto;
	}
	.visiblePhone{
		visibility: hidden;
		position: absolute;
		height: 0;
	}
}

@media screen and (max-width: 480px){

	.hiddenPhone{
		visibility: hidden;
		position:absolute;
		height:0;
	}
	.visiblePhone{
		visibility: visible;
		position: static;
		height: auto;
	}
}
